<div class="row">
    <main class="col-md-12">
        <div class="container">
            <h1>Welcome to the Student and Course Management System</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Courses</h5>
                            <p class="card-text">View and manage courses</p>
                            <a href="/courses" class="btn btn-primary">View Courses</a>
                            <a href="/courses/add" class="btn btn-success">Add Course</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Students</h5>
                            <p class="card-text">View and manage students</p>
                            <a href="/students" class="btn btn-primary">View Students</a>
                            <a href="/students/add" class="btn btn-success">Add Student</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
